{% extends 'starter.html' %}

{% block content %}
{% load static %}

	<div style="background-color:#FFD089">
		<img src="https://i.imgur.com/Ezf084I.jpg" alt="foto uci" class="logo" style="width:20vw;border-radius: 50%;margin:3vw;margin-top:1.6vw;">
		<center>
			<article class="text" style="margin-left:29vw;margin-right:10vw;"><br>
				<strong class="judulDiv">
					This is Me
				</strong><br><br>
				<article style="font-size:2vw;">
					Hai, I’m Yama
				</article>
				<article style="font-size:1.5vw;">
					Currently a computer science student undergraduate in University of Indonesia. Perfectionist and ambitious are two things that are very attached to me. I spent my spare time for refreshing my soul, such as playing games, sport, or watch some film.<br><br><br>
				</article>
			</article>
		</center>
	</div><hr class = "garis">

	<div class="skills">
		<br><center>
			<strong class="judulDiv">
				My Skills
			</strong>
		</center>

		<div class="text program"> 
			<center>
				<article>
					&emsp;<img src="https://www.shareicon.net/data/512x512/2016/01/13/702849_code_512x512.png" alt="code"style="width:8vw;"><br>&emsp;
					<strong style="font-size:1.8vw">
						Programming
					</strong> 
					<br>&emsp;C++<br>&emsp;Python<br>&emsp;Java<br>
				</article>
			</center>
		</div>

		<div class="text sport"> 
			<center>
				<article>
					<strong style="font-size:1.8vw">
						Sport
					</strong>
					<br>Badminton<br>Taekwondo<br>E-Sport<br>
					<img src="https://mbtskoudsalg.com/images/shoe-silhouette-png-8.png" alt="sport shoes" style="width:10vw;margin-top:2vw;">
				</article>
			</center>
		</div>

		<div class="text organitation"> 
			<center>
				<article>
					<img src="https://mbtskoudsalg.com/images/png-background-creator.png" style="width:8vw;">
					<strong style="font-size:1.8vw">
						Organitation
					</strong>
					<br>DPM Fasilkom UI<br>Ristek Fasilkom UI<br>A Lot of Events<br>
				</article>
			</center>
		</div>

		<div class="text editing"> 
			<center>
				<article>
					<strong style="font-size:1.8vw">
						Editing
					</strong>
					<br>Photoshop<br>Sony Vegas<br>
				<img src="https://vignette.wikia.nocookie.net/lostpedia/images/e/e0/Clapperboard.png/revision/latest?cb=20080328214142" style="width:7.5vw;margin-top:1.5vw;">
			</article>
		</center>
		</div>

		<div class="text character"> 
			<center>
				<article>
					<img src="https://www.freeiconspng.com/uploads/muscle-icon-1.png" style="width:10vw;">
					<strong style="font-size:1.8vw">
						Character
					</strong>
					<br>Ambitious<br>Adaptive<br>
				</article>
			</center>
		</div>
	</div>
	<hr class = "garis">


	<div style="background-color:#FFEEB1;height:39vw;">
		<br><center>
			<strong class="judulDiv">
				Interest in
			</strong>
		</center>

		<div class="text" style="float:left;font-size:1.8vw;margin:1.2vw;margin-top:0vw;margin-left:5vw;width:45vw;text-align: right;">
			<strong style="font-size:3vw;color:#905050;">
				<u text-align: right;>Formal</u>&ensp;
			</strong>
			<article style="margin:1vw; margin-left:0vw;">
				<strong style="font-size:2vw;">
					Problem Solve
				</strong>
				<br>I’d like to solve a problem that people can’t </br>
			</article>

			<article style="margin:1vw;">
				<strong style="font-size:2vw; margin-left:0vw;">
				UI/UX Designer
				</strong>
				<br>Study PPW in University of Indonesia, make me want to be a UI/UX Designer</br>
			</article> 
				
			<article style="margin:1vw; margin-left:0vw;">	
				<strong style="font-size:2vw;">
					Game Development
				</strong>
				<br>beside like to play e-sport, I also like to make it</br>
			</article>
		</div>

		<div class="text" style="float:left;font-size:1.8vw;margin:1.2vw;margin-top:0vw;width:45vw;text-align: left;">
			<strong style="font-size:3vw;color:#905050;">
				<u text-align: right;>Informal</u>
			</strong>
			<article style="margin:1vw; margin-left:0vw;">
				<strong style="font-size:2vw;">
					E-Sport
				</strong>
				<br>Playing game is the best refresing for me</br>
			</article>

			<article style="margin:1vw;">
				<strong style="font-size:2vw; margin-left:0vw;">
				Discover the Whole World
				</strong>
				<br>Our world absolutly big, but nothing is immposible until God call you to come back home</br>
			</article> 
				
			<article style="margin:1vw; margin-left:0vw;">	
				<strong style="font-size:2vw;">
					Nature and Ecosystem
				</strong>
				<br>Tree, bird, sea sore, mountain, and me...</br>
			</article>

		</div>
	</div>
	<hr class = "garis">

	<div style="background-color:#D56509;height:15vw;">
		<br><center>
			<strong class="judulDiv" style="font-size:3vw;line-height:3vw;">
				Find Me
			</strong>
		</center>
		<article>
			<img src="http://pngimg.com/uploads/email/email_PNG55.png" alt="email" style="width:3.5vw; margin-left:9.5vw;margin-top:3vw;">
			gustingurah.yama@gmail.com
			<img src="https://image.ibb.co/dnJjEz/line.png" alt="line" style="width:3.5vw; margin-left:5vw;margin-top:3vw;">
			@gnyap2310
			<img src="https://image.ibb.co/d4aaMe/ig.png" alt="ig" style="width:3.5vw; margin-left:5vw;margin-top:3vw;">
			@gustinyap
			<img src="https://preview.ibb.co/gHFxZz/phone.png" alt="phone" style="width:3.5vw; margin-left:5vw;margin-top:3vw;">
			083838718942
		</article>
	</div> 
{% endblock %}

