{% extends 'starter.html' %}

{% block content %}
{% load static %}


<div style="text-align: center">
	<br>
	<h1><strong class="judulDiv"> Subscribe Here!! </strong></h1>
		<section>
			<div class = "my-auto">
				<div>
					<form id='form' method="POST" >
						{% csrf_token %}
						{% for field in registrasi %}
						<div class = "form-group">
							<strong><label class = "text"> {{ field.label }} </label><br> {{field}}
							</label>
						</div>
						{% endfor %}
						<input id="subscribe" type="submit" class="btn btn-lg btn-primary" value="Subscribe!"><br>
					</form>

				<div id="subscribeStatus"></div>
				</div>
			</div>
		</section>
</div>
<br>
<div style="margin:3vw">
	<table id="customers" class="table table-striped table-bordered table-sm text" cellspacing="0" width="100%">
		<thead class="thead-dark">
			<tr>
				<th class="th-sm">Name</th>
				<th class="th-sm">Email</th>
				<!--       
				<th class="th-sm">Publisher
				<i class="fa fa-sort float-right" aria-hidden="true"></i>
				</th> -->
				<th class="th-sm">Unsubscribe</th>
			</tr>
		</thead>
		<tbody id="boddy">
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		</tbody>
	</table>
</div>

<!-- 	<div id="registerBack">
		<article style="margin-left:36vw;padding-top:2.5vw;"><strong class="judulDiv">Register Here</strong></article>
		<form style="margin-left:5vw;margin-right:5vw;">
			<div class="form-group">
		    	<label for="name" class="text">Name</label>
		    	<input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
		 	</div>
		 	<div class="form-group">
		    	<label for="bornDate" class="text">Born Date</label>
		    	<input type="date" class="form-control" id="bornDate" aria-describedby="dateHelp" placeholder="Enter Date">
		 	</div>
		 	<div class="form-group">
		    	<label for="email" class="text">Email Address</label>
		    	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
		    	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		    </div>
		 	<div class="form-group">
		    	<label for="username" class="text">Username</label>
		    	<input type="text" class="form-control" id="username" placeholder="Enter Username">
		  	</div>
		  	<div class="form-group">
					<label for="Password" class="text">Password</label>
					<input type="password" class="form-control" id="Password" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="PasswordConf" class="text">Password Confirmation</label>
					<input type="password" class="form-control" id="PasswordConf" placeholder="Password">
				</div>
				<a href="javascript:history.go(-1);" class="btn btn-primary btn-sm active" role="button" aria-pressed="true" style="box-shadow:2px 2px 2px grey;font-size:1.5vw;">Submit</a>
		</form>
	</div> -->
{% endblock %}
