.logo{
	 float: left;
	 width: 7vw;
	 margin: 10px;
	 margin-right: 30vw
}
.judulHeader{
	/*text-align: center;*/
	font-family: 'Suravaram', serif;
	font-size: 5vw;
	color: white;
	line-height: 0.7;
	padding-top: 13px;
	/*padding-left: 10px;*/
}
.subJudulHeader{
	/*text-align: center;*/
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	color: white;
	padding-bottom: 12px;
	/*padding-left: 10px;*/
}
.head{
	background: #E06F13;
}
.garis{
    margin: 0px;
    border-top-width: 2px;

}
img {
	width: 10vw;
	float: left;
	margin: 1vw;
}
input{
	width: 2vw;
	margin: 1vw;
}
button{
	float:left;
}
body, html {
	background-color:#FFD089 !important;
    height: 100%;

}
tr, td {
		    border: 5px #ffffff;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #edb96d;}

#customers tr:hover {background-color: #f7ca88;}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#3f3f3f;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("/static/img/Preloader_5.8dda6a9a16b0.gif") center no-repeat #fff;
}