body, html {
	background-color:#FFD089 !important;
    height: 100%;

}


tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #edb96d;}

#customers tr:hover {background-color: #f7ca88;}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#3f3f3f;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("/static/img/Preloader_5.8dda6a9a16b0.gif") center no-repeat #fff;
}