.logo{
	 float: left;
	 width: 7vw;
	 margin: 10px;
	 margin-right: 30vw
}

div{
	margin : 0vw;
}
.judulHeader{
	/*text-align: center;*/
	font-family: 'Suravaram', serif;
	font-size: 5vw;
	color: white;
	line-height: 0.7;
	padding-top: 13px;
	/*padding-left: 10px;*/
}
.subJudulHeader{
	/*text-align: center;*/
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
	color: white;
	padding-bottom: 12px;
	/*padding-left: 10px;*/
}
.judulDiv{
	font-size:4vw;
	font-family: 'Bitter', serif;
	color:#353131;
}
.head{
	background: #E06F13;
}
.garis{
    margin: 0px;
    border-top-width: 2px;

}
.navbar {
    background-color: #d8e9ff !important;
    /*height:4vw;*/
}

.navbar .navbar-nav li a {
    color: #353131 !important;
    font-family: 'Suravaram', serif;
    font-size: 2vw;
}

.navbar .navbar-nav li a:hover {
    color: #377fdd !important;
}

.navbar-toggler {
    background-color: #377fdd !important;
    /*height:2vw;*/
}

.foto{
	margin: 0px;
	background-image: url("https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/42111766_2248934191801223_7621863673744588800_o.jpg?_nc_cat=0&oh=58d23a46323ee2757857f695283bd75f&oe=5C222218");
	background-repeat: no-repeat;
	background-size: 100vw;
	position: relative;
}

#textBoxFoto{
	margin-top: 8vw;
	margin-bottom: 2vw;
	margin-left: -2vw;
    width: 55vw;
    height: 29vw;
    background-color:#C4C4C4;opacity: 0.5;
    border-radius: 2vw;
}

.text{
	font-family: 'Habibi', serif;
}

/*----------------------------------------------------PAGE 1 bagian bawah-----------------------------------------------------------------*/
div.bot-nav{
	margin-bottom: 1vw;
	height:17.9vw;
	background:#FFBD97;
	margin-bottom:0;
}
div.bot-nav1{
	float:left;
	font-size:1.7vw;
	width:17vw;
	margin:3.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}
div.bot-nav2{
	float:left;
	font-size:1.7vw;
	width:17vw;
	margin:3.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}
div.bot-nav3{
	float:left;
	font-size:1.7vw;
	width:17vw;
	margin:3.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}
div.bot-nav4{
	float:left;
	font-size:1.7vw;
	width:17vw;
	margin:3.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}

@media screen and (max-width: 1200px){
	div.bot-nav{
		height:54vw;
		background:#FFBD97;
		margin-bottom:0;
	}
	div.bot-nav1{
		float:left;
		font-size:1.7vw;
		width:20vw;
		margin:14vw;
		margin-top:4vw;
		margin-bottom:0vw;
	}
	div.bot-nav2{
		float:left;
		font-size:1.7vw;
		width:20vw;
		margin:14vw;
		margin-top:4vw;
		margin-bottom:0vw;
	}
	div.bot-nav3{
		float:left;
		font-size:1.7vw;
		width:20vw;
		margin:14vw;
		margin-top:6vw;
		margin-bottom:0vw;
	}
	div.bot-nav4{
		float:left;
		font-size:1.7vw;
		width:20vw;
		margin:14vw;
		margin-top:6vw;
		margin-bottom:0vw;
	}
}

@media screen and (max-width: 800px){
	div.bot-nav{
		height:200vw;
		background:#FFBD97;
		margin-bottom:0;
	}
	div.bot-nav1{
		float:left;
		font-size:1.7vw;
		width:30vw;
		margin:35vw;
		margin-top:7vw;
		margin-bottom:0vw;
	}
	div.bot-nav2{
		float:left;
		font-size:1.7vw;
		width:30vw;
		margin:35vw;
		margin-top:7vw;
		margin-bottom:0vw;
	}
	div.bot-nav3{
		float:left;
		font-size:1.7vw;
		width:30vw;
		margin:35vw;
		margin-top:7vw;
		margin-bottom:0vw;
	}
	div.bot-nav4{
		float:left;
		font-size:1.7vw;
		width:30vw;
		margin:35vw;
		margin-top:7vw;
		margin-bottom:0vw;
	}
}
/*----------------------------------------------------PAGE 2 bagian my skill keba-----------------------------------------------------------------*/
div.skills{
	background-color:#FFDEAE;
	height:30vw;
}

div.program{
	float:left;
	font-size:1.5vw;
	width:15vw;
	margin:2.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}

div.sport{
	float:left;
	font-size:1.5vw;
	width:15vw;
	margin:2.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}

div.organitation{
	float:left;
	font-size:1.5vw;
	width:15vw;
	margin:2.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}

div.editing{
	float:left;
	font-size:1.5vw;
	width:13vw;
	margin:2.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}

div.character{
	float:left;
	font-size:1.5vw;
	width:13vw;
	margin:2.5vw;
	margin-top:2vw;
	margin-bottom:0vw;
}


@media screen and (max-width: 1100px){
	div.skills{
		background-color:#FFDEAE;
		height:52vw;
	}

	div.program{
		float:left;
		font-size:1.5vw;
		width:15vw;
		margin:8vw;
		margin-left:11vw;
		margin-top:2vw;
		margin-bottom:0vw;
	}

	div.sport{
		float:left;
		font-size:1.5vw;
		width:15vw;
		margin:8vw;
		margin-top:2vw;
		margin-bottom:0vw;
	}

	div.organitation{
		float:left;
		font-size:1.5vw;
		width:15vw;
		margin:8vw;
		margin-top:2vw;
		margin-bottom:0vw;
	}

	div.editing{
		float:left;
		font-size:1.5vw;
		width:13vw;
		margin-right:17vw;
		margin-left:26vw;
		margin-top:4vw;
		margin-bottom:0vw;
	}

	div.character{
		float:left;
		font-size:1.5vw;
		width:13vw;
		margin-right:17vw;
		margin-top:4vw;
		margin-bottom:0vw;
	}
}

/*---------------------------------------------------------PAGE 3 Background----------------------------------------------------------*/
div#registerBack{
	background: #ff9642;
	height:56vw;
}

@media screen and (max-width: 1275px){
	div#registerBack{
	background: #ff9642;
	height:1000vw;
}