body, html {
	background-color:#383838 !important;
    height: 100%;

}


tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #464646}

#customers tr:hover {background-color: #313131}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#ececec;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}

.bagikan{
	background-color: #0376af !important;
	border: #0376af !important;
	margin:1vw;
	margin-top:0.7vw;
}
.bagikan:hover{
	background-color: #036ca0 !important;
	border: #036ca0 !important;
}

a{
	color:#e9e9e9 !important;
} 
dt{
	background-color: #323232;
    border: 0.05vw solid grey;
}
dd{
	background-color: #585858;
	border: 0.05vw solid #7d7d7d;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/static/img/Preloader_5.gif') center no-repeat #fff;
}