body, html {
	background-color:#FFD089 !important;
    height: 100%;

}


tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #edb96d;}

#customers tr:hover {background-color: #f7ca88;}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#3f3f3f;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}

.bagikan{
	background-color: #00A1F1 !important;
	border: #00A1F1 !important;
	margin:1vw;
	margin-top:0.7vw;
}
.bagikan:hover{
	background-color: #4285F4 !important;
	border: #4285F4 !important;
}


