body, html {
	background-color:#232323 !important;
    height: 100%;

}


tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #464646}

#customers tr:hover {background-color: #313131}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#ececec;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}

.bagikan{
	background-color: #0376af !important;
	border: #0376af !important;
	margin:1vw;
	margin-top:0.7vw;
}
.bagikan:hover{
	background-color: #036ca0 !important;
	border: #036ca0 !important;
}


