body {
	background-color:#FFD089 !important;
}
tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #edb96d;}

#customers tr:hover {background-color: #f7ca88;}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#3f3f3f;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}
