{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<title>TDD-D</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
		<script src="{% static 'js/themeNacordion.js' %}"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
	</head>
	<body>
		<div class="se-pre-con"></div>
		<div class="container h-100">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="col-sm-4">
					<dl class="accordion text">
						<dt><a href="">&nbsp;My Info</a></dt>
						<dd>
							Hai, I’m Yama <br>
							Currently a computer science student undergraduate in University of Indonesia. Perfectionist and ambitious are two things that are very attached to me. I spent my spare time for refreshing my soul, such as playing games, sport, or watch some film.
						</dd>

						<dt><a href="">&nbsp;Skill</a></dt>
						<dd name="hide">
							<ul>
							  <li>Programmer (Python, Java, C++, html, CSS, etc)</li>
							  <li>Sport (Badminton, Taekwondo, E-Sport</li>
							  <li>Organitation (DPM Fasilkom UI, Ristek Fasilkom UI ,etc)</li>
							  <li>Editing (Photoshop, Sony Vegas, etc)</li>
							</ul>
						</dd>
						
						<dt><a href="">&nbsp;Achivement</a></dt>
						<dd name="hide">
							<ul>
								<li>Finalis Competitive Programming Vocompfest UGM 2018</li>
								<li>Finalis ACM ICPC Maranatha 2018</li>
								<li>Finalis INC ICPC regional Jakarta 2018</li>
							</ul>
						</dd>

					</dl>
				</div>
				<div class="col-sm-8">
					<div class ="text" style="text-align: center">
						<h1><strong> Hello Apa Kabar? </strong></h1>
						<div class = "my-auto">
							<div>
								<form action="{% url 'lab_8:homepage' %}" id='form' method="POST" >
									{% csrf_token %}
									{{ form }}
									<input id="submit" type="submit" class="btn btn-sm btn-primary bagikan" value="Bagikan"><br>
								</form>
							</div>
						</div>
					</div>
					<center>
						<button type="button" class="btn btn-sm btn-dark" name="change_dark" onclick= dark()>Dark Theme</button>
						<!-- <button type="button" class="btn btn-sm btn-dark" name="organisasi" onclick= "">Add JSON</button> -->
					</center>
				</div>

					<center>
						<div class = 'text'>
							<h3> Daftar Kenangan </h3>
							<table id="customers" class='tabel'>
				                {% if Statuses %}
				                    {% for stat in Statuses %}
				                        <tr>
				                            <td style="width: 70%">{{ stat.status }}</td>
				                            <td style="text-align: right;">{{ stat.when }}</td>
				                        </tr>
				                    {% endfor %}
				                {% else %}
				                    <p>Anda tidak memiliki kenangan...</p> 
				                {% endif %}
				            </table>
				            <button type="button" class="btn btn-danger" name="delete" onclick="location.href='{% url 'lab_8:remove' %}' "> Hapus Kenangan :)</button><br><br><br>
						</div>	
					</center>	
				
			</div>
		</div>
	</body>

</html>

