<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<title>About Me</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
	</head>

	<body style="background-color: #ffd7a0; font-family: 'Habibi', serif;"> <center>
		<button type="button" style = "float: left; margin-left:1vw"class="btn btn-light" onclick="location.href='{% url 'lab_6:home' %}' ">Kembali</button>
		<strong><h1 style="margin: 2vw; margin-right:8vw "> My Info </h1>
	    <h2>
	    	Gusti Ngurah Yama Adi Putra<article style="font-size: 50%;">1706979253</article><hr>
	    </h2></strong>
	    <img src ="http://www.about.tarung2017.com/foto/312.jpg" alt="orang ganteng", height=300>
	    <article>
	    	Study at University of Indonesia
	    	</br> seorang dengan hobi Ngoding <br></br> Seorang mahasiswa yang berharap bisa lulus dengan predikat cumlaude dan berguna bagi sesama. </br>
		</article>
	</center>
	</body>
</html>

