{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Google Book</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="528670758644-9ob4m8f6e90o0hrs2og7o2o2aeij7chr.apps.googleusercontent.com">

	<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script> -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Suravaram" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link href="css/addons/datatables.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="{% static 'css/desain.css' %}">
	<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">	


	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

</head>

<body>
	<div class="head">
		<img src=" https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/41984447_2248979878463321_1292254070504947712_n.jpg?_nc_cat=0&oh=9f3e018ad91f8d33c6524fde8e2e0926&oe=5C2CAE40" alt="logo" class="logo">
		<article class="judulHeader">
			FRAMTIDEN
		</article>
		<article class="subJudulHeader">
			Gusti Ngurah Yama Adi Putra's Journey
		</article>
	</div>
	<hr class = "garis">
	{% block content %}
	{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/count.js' %}"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script> -->
</body>
</html>

