{% extends 'base.html' %}
{% load static %}

{% block content %}
		<center><h1 class = "text" style="margin-left:2vw">My Library</h1></center>
		
		<div style="margin:2vw">
		<h4 class="text" style="margin-bottom: 0vw"> Search Category: </h4>
		<input type="text" name="search" id="sabeb" style="width:35vw">
        <button class="btn btn-sm btn-info" id="buton">Submit</button>

        	{% if user.is_authenticated %}
                <div style="float:right">
                	<h3 class="greet text"> Hello, {{ user.first_name }} {{ user.last_name }}</h3>
                    <a href="{% url 'lab_9:logout' %}" style="color:#e50000; float:right"><h4><strong>Logout</strong></h4></a>
                </div>
            {% else %}
            	<br>
                <a href="{% url 'social:begin' 'google-oauth2' %}" style="color:#0086b3"><h5><strong>Sign in With Google</strong></h5></a>
            {% endif %}  

            {% if messages %}
			  <ul class="messages">
			    {% for message in messages %}
			      <li class="{{ message.tags }}" style="color:#e50000; ">{{ message }}</li>
			    {% endfor %}
			  </ul>
			{% endif %}

			<h4 class = "text" id="counter">Favourite count : {{ message }} </h4>
			<table id="customers" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
				<thead class="thead-dark">
					<tr>
						<th class="th-sm"></th>
						<th class="th-sm">Book Title</th>
						<th class="th-sm">Author</th>
						<!--       
						<th class="th-sm">Publisher
						<i class="fa fa-sort float-right" aria-hidden="true"></i>
						</th> -->
						<th class="th-sm">Date</th>
						<th class="th-sm">Favorite</th>
					</tr>
				</thead>
				<tbody id="boddy">
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
						</tr>
				</tbody>
			</table>


		</div>
{% endblock %}
