body, html {
	background-color:#FFD089 !important;
    height: 100%;

}


tr, td {
		    border: 1px #C0C0C0;
		    border-collapse: collapse;
		    word-wrap:break-word;
		}
#customers tr:nth-child(odd){background-color: #edb96d;}

#customers tr:hover {background-color: #f7ca88;}

.text{
	font-family: 'Habibi', serif;
	margin-top: 2vw;
	color:#3f3f3f;
}

.tabel{
	width:80%;
	table-layout: fixed;
	margin: 1vw;
}

.bagikan{
	background-color: #00A1F1 !important;
	border: #00A1F1 !important;
	margin:1vw;
	margin-top:0.7vw;
}
.bagikan:hover{
	background-color: #4285F4 !important;
	border: #4285F4 !important;
}
a{
	color:#27408B !important;
} 
dt{
	background-color: #ffbc56;
    border: 0.05vw solid orange;
}
dd{
	background-color: #ffd9a0;
	border: 0.05vw solid #edb96d;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/static/img/Preloader_5.gif') center no-repeat #fff;
}